[package]
name = "local-guard-ui"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
local-guard-analysis-contract = { path = "../local-guard-analysis-contract" }
